{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if post %}
        <meta property="og:url" content="https://reads.me/article/{{ post.slug }}">
        <meta property="og:title" content="{{ post.title }}">
        <meta property="og:type" content="article"/>
        <meta property="og:site_name" content="READS.me"/>
        {% if post.image_url %}
            <meta property="og:image" content="{{ post.image_url }}">
            <meta property="og:image:alt" content="{{ post.subject }}"/>
        {% endif %}
    {% else %}
        <meta property="og:url" content="https://reads.me">
        <meta property="og:title" content="READS.me - Entertaining lists about celebrities, sports and current events">
        <meta property="og:site_name" content="READS.me"/>
        <meta property="og:image" content="/static/reads_me/images/og-image.jpg">
        <meta property="og:image:alt" content="READS.me banner"/>
    {% endif %}

    <!-- Fav Icon -->
    <link rel="icon" type="image/x-icon" href="/static/reads_me/images/favicon.ico">

    <!-- Bootstrap CSS -->
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'reads_me/main.css' %}">
    {% if page_title %}
        <title>{{ page_title }} - READS.me</title>
    {% else %}
        <title>READS.me - Entertaining lists about celebrities, sports and current events</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}"><i class="bi bi-bookmark-heart"></i> READS.me</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    {% if user.is_superuser %}
                        <a class="nav-item nav-link" href="{% url 'create' %}">Create</a>
                    {% endif %}
                    {% for category in categories %}
                        <a class="nav-item nav-link" href="{% url 'category-list' category %}">{{ category }}</a>
                    {% endfor %}
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {#                    <form class="form-inline my-2 my-lg-0" action="/search/">#}
                    {#                        <input name="s" class="form-control mr-sm-2" type="search" placeholder="search"#}
                    {#                               aria-label="search">#}
                    {#                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">search</button>#}
                    {#                    </form>#}
                    {% if user.is_authenticated %}
                        {#                        <a class="nav-item nav-link" href="{% url 'profile' %}">profile</a>#}
                        <a class="nav-item nav-link" href="{% url 'logout' %}">logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="content-section">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
