<div class="">
    <h2>{{ post.title }}</h2>

    <div>
        <p>
            <em>{{ post.date_popular|date:"SHORT_DATE_FORMAT" }}</em>
        </p>

        {% if post.image_url %}
            <img alt="{{ post.subject }}" src="{{ post.image_url }}"
                 style="float: right; border-radius: 1em; margin: 1em; max-width: 33%; max-height: 30em"
            >
        {% endif %}
        <div style="text-align: left;">
            {{ post.content | safe }}
        </div>
        <p class="mt-4">
            Link: <a href="{% url 'post-detail' post.slug %}">@post</a> |
            Category: <a href="{% url 'category-list' post.category %}">{{ post.category }}</a> |
            Subject: <a href="{% url 'topic-list' post.wikipedia_id %}">{{ post.subject }}</a> |
            <a href="https://en.wikipedia.org/wiki/{{ post.wikipedia_id }}">@Wikipedia</a>
        </p>

    </div>
</div>