<div class="post container">
    <div class="row">
        {% if post.image_url %}
            <div class="col-8" style="padding-right: 1em">
        {% else %}
            <div class="col-12">
        {% endif %}
        <h2>
            {% if is_single %}
                {{ post.title }}
            {% else %}
                <a href="{% url 'post-detail' post.slug %}" class="link-dark" style="text-decoration: none;">
                    {{ post.title }}
                </a>
            {% endif %}
        </h2>
        <div>
            <p>
                <em>{{ post.date_popular|date:"Y-m-d" }}</em>
            </p>
            <div style="text-align: left;">
                <ol>
                    {{ post.content | safe }}
                </ol>
            </div>
            <p class="mt-4">
                Category: <a href="{% url 'category-list' post.category %}">{{ post.category }}</a> |
                Topic: <a href="{% url 'topic-list' post.wikipedia_id %}">{{ post.subject }}</a> |
                <a href="https://en.wikipedia.org/wiki/{{ post.wikipedia_id }}">@Wikipedia</a>
            </p>
            {% if user.is_superuser %}
                <p class="mt-4">
                    <a href="{% url 'post-deactivate' post.pk %}">DEACTIVATE</a> |
                    <a href="{% url 'post-update' post.pk %}">Update</a> |
                </p>
            {% endif %}
        </div>
        </div>
        {% if post.image_url %}
            <div class="col-4">
                <img class="post-image" alt="{{ post.subject }}" src="{{ post.image_url }}">
            </div>
        {% endif %}
        </div>
    </div>